#!/bin/sh

case "$1" in
    build)
        python3 setup.py bdist -d dist/python3
    ;;

    package)
        mkdir -p ${pkgdir}/usr/share/wazo-confd/plugins
        cp -R dist/python3/wazo-confd-whitelist-*.tar.gz ${pkgdir}/usr/share/wazo-confd/plugins/
        cp -R etc ${pkgdir}/usr/share/wazo-confd/plugins/
    ;;

    install)
        systemctl restart wazo-confd
        asterisk -x 'dialplan reload'
    ;;

    uninstall)
        systemctl restart wazo-confd
        asterisk -x 'dialplan reload'
    ;;

    postrm)
    ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
